<h1 class="text_center">Editing the selected article</h1>

<%= render 'form' %>

<p>
	<%= link_to 'Show this Article', article_path(@article.id) %>
</p>

<p>
	<%= link_to 'Back to list all articles', articles_path %>
</p>