<h1 class='text-center'>Listing all Articles</h1>
	
<%= render 'article', articles: @articles %>

<div class='text-center'>
	<%= will_paginate %>
</div>

<div class='col-xs-8 col-xs-offset-2'>
	<%= link_to "Back to Homepage", root_path, class: "btn btn-primary btn-xs"%>
</div>