<div class="jumbotron center">
	<h1 id="jumbotron_header">ALPHA BLOG</h1>
	<% if !logged_in? %>
		<%= link_to 'Sign Up Now', signup_path, class: "btn btn-primary btn-lg", id: "sign_up_button" %>
	<% end %>
</div>